<h2>User List</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Mobile No</th>
      <th>Actions</th> <!-- Added a new column for actions -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.fullName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.address }}</td>
      <td>{{ user.mobileNo }}</td>
      <td>
        <button (click)="updateUser(user._id)">Update</button>
        <button (click)="deleteUser(user._id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
