<h2>User List</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Mobile No</th>
      <th>Qualification</th>
      <th>Username</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.fullName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.address }}</td>
      <td>{{ user.mobileNo }}</td>
      <td>{{ user.qualification }}</td>
      <td>{{ user.username }}</td>
      <td>
        <div class="action">
        <div (click)="updateUser(user._id)">
          <i class="fas fa-pen"></i>
        </div>
        <div (click)="deleteUser(user._id)">
          <i class="fas fa-trash-alt"></i>
        </div>
      </div>
      </td>
    </tr>
  </tbody>
</table>
